.header {
  background-color: aquamarine;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title {
  text-align: center;
}

.navi ul li {
  float: left;
  width: 120px;
  height: 50px;
}
.navi ul {
  /* リストの点をなくす */
  list-style: none;
}
